<div class="container">
  <h1>Nos Potins</h1>
  <div>
   <%@all_gossips.each_with_index do |gossip, index| %> 
    <p>
      <div id="author"><%= gossip.user.first_name %></div> 
      <div id="content"><%= gossip.title %></div>
    </p>
    <div><!--<i class="far fa-hand-point-right"></i>--><%= link_to "Afficher le potin", show_gossip_path(gossip.id) %></div>
    <%end%>
  </div>
</div>

